header {
	background-color: #D1D1D1;
	font-size: 30px;
}
footer {
	background-color: red;
	text-align: center;
	font-size: 12px;
}

#content {
	font-size: 15px;
}


input {
	margin-left: 3px;
}
#entete {
	background-color: lavender;
}
#matiere {
	margin-left: 10px;
}
.matiereInput {
	width: 100px;
}
#date {
	margin-left: 50px;
}
.dateInput {
	width: 100px;
}
#nbCopies {
	margin-left: 50px;
}
.nbCopiesImput {
	width: 30px;
}
.questionInput{
	width: 70%;
}
.question {
	margin-left: 10px;
}
.reponse {
	margin-left: 50px;
}
.reponseInput {
	width: 50%;
}
.checkbox{
	margin-left: 20px;
}
.add {
	margin-left: 20px;
}

